flask
Flask-SQLAlchemy
flask-login
Flask-Migrate
Faker
python-dotenv
flask-bcrypt
pymysql
flask-socketio
reportlab
python-socketio
eventlet
# google-cloud-sql-connector
# cloud-sql-python-connector[pymysql]


# MAC INSTRUCTIONS
# python3 -m venv venv
# source venv/bin/activate
# pip install --upgrade pip
# pip install -r requirements.txt
# python3 seed_database.py
# python3 app.py

#ensure db is created in mysql

#Run gcloud auth application-default login and select the same Google account that has access to the Cloud SQL instance.
#MACOS users must run /Applications/Python\ 3.13/Install\ Certificates.command 

