<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Us</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>

<!--Top navigation bar-->
  <header class="top-nav">
    <div class="logo">CuraCloud</div>
    <div class="login-buttons">
      <a href="{{ url_for('auth.register') }}"><button class="btn">Register</button></a>
      <a href="{{ url_for('auth.login') }}"><button class="btn">Login</button></a>
    </div>
  </header>

  <div class="container">
            <!--SideMenu-->
        <div class="side-menu">
        <ul>
          <li><a href="{{ url_for('main.index') }}">Home</a></li>
          <li><a href="{{ url_for('main.contact') }}">Contact Us</a></li>
          <li><a href="{{ url_for('main.about') }}" class="active">About Us</a></li>
        </ul>
        </div>

        

        <!--Content of website-->
          <div class="content">

               <div id="about-header">
                   <h1>About Us</h1>
              </div>

              <!--Image and description-->
              <div class="about-img">
                <!--About paragraph-->
                  <img id="dr-mike" src="{{ url_for('static', filename='images/dr-mike.png') }}" alt="Doctor Mike" />
                 <!-- <h3>Why you should choose CuraCloud?</h3> -->
                <div class="about-text-box">
                    <p>
                        CuraCloud was created with one mission: to make healthcare simpler and
                        more connected. We help patients access their information easily while
                        giving healthcare providers intuitive tools to manage care efficiently.
                        Our goal is to improve communication, save time, and support better
                        health outcomes for everyone.
                    </p>
                </div>
              </div>
              <hr style="width: 75%; margin: 30px auto; border-top: 1px dotted purple" >

              <!--Why they should work with us-->
              <h3 id="benefit-title">Benefits of Using a Healthcare Portal</h3>
              <div class="benefits">
                    <div class="benefit">
                      <img class="benefit-icon" src="{{ url_for('static', filename='images/chemical.png') }}" alt="Lab icon"/>
                        <h3>Better Health Insights</h3>
                        <P>Gain a deeper understanding of your overall health through lab data. healthcare provider's feedback, and recent medical information.</P>
                    </div>
                    <div class="benefit">
                      <img class="benefit-icon" src="{{ url_for('static', filename='images/cardiogram.png') }}" alt="Lab icon"/>
                        <h3>Medical Records Access</h3>
                          <P>Easily view and manage your personal and medical information when necessary.</P>
                      </div>
                      <div class="benefit">
                        <img class="benefit-icon" src="{{ url_for('static', filename='images/muscle.png') }}" alt="Lab icon"/>
                        <h3>Health Management</h3>
                        <P>Maintain better control of your health by monitoring prescriptions and treatment plans.</P>
                      </div>
                      <div class="benefit">
                        <img class="benefit-icon" src="{{ url_for('static', filename='images/convenience.png') }}" alt="Lab icon"/>
                        <h3>Time Convenience</h3>
                        <P>Save time with a faster, more efficient way to stay informed and connected with your healthcare provider.</P>
                      </div>
                </div>
                <hr style="width: 75%; margin: 30px auto; border-top: 1px dotted purple">
            </div>
            
      </div>

<footer>
    <p>Powered by CoinFlippers</p>
  </footer>

    </body>
</html>