<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About us</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>

<!--Top navigation bar-->
  <header class="top-nav">
    <div class="logo">Logo Here</div>
    <div class="login-buttons">
      <a href="{{ url_for('auth.register') }}"><button class="btn">Register</button></a>
      <a href="{{ url_for('auth.login') }}"><button class="btn">Login</button></a>
    </div>
  </header>

  <div class="container">

    
            <!--SideMenu-->
        <div class="side-menu">
        <ul>
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
            <li><a href="{{ url_for('main.contact') }}">Contact Us</a></li>
            <li><a href="{{ url_for('main.about') }}">About us</a></li>
            <li><a href="{{ url_for('main.services') }}">Services</a></li>
        </ul>
        </div>

            <div class="content">
                <h1 id="contact-title">Contact Us</h1>
                <hr style="width: 80%; border-top: 1px dotted purple; margin:20px auto">
                  <div class="contact-info-grid">
                    <!--Contact information-->
                    <div class="contact-card">
                      <h3>McMinnville</h3>
                      <ul>
                        <li>Phone: 931-420-6969</li>
                        <li>Email: yourmom@gmail.com</li>
                        <li>Fax: 931-123-4567</li>
                        <li>Address: 1600 Pennsylvania Avenue NW, Washington, D.C. 20500</li>
                      </ul>
                    </div>
                    <div class="contact-card">
                      <h3>Murfreesboro</h3>
                      <ul>
                        <li>Phone: 931-420-6969</li>
                        <li>Email: yourmom@gmail.com</li>
                        <li>Fax: 931-123-4567</li>
                        <li>Address: 1600 Pennsylvania Avenue NW, Washington, D.C. 20500</li>
                      </ul>
                    </div>
                    <div class="contact-card">
                      <h3>Smyrna</h3>
                      <ul>
                        <li>Phone: 931-420-6969</li>
                        <li>Email: yourmom@gmail.com</li>
                        <li>Fax: 931-123-4567</li>
                        <li>Address: 1600 Pennsylvania Avenue NW, Washington, D.C. 20500</li>
                      </ul>
                    </div>
                    <div class="contact-card">
                      <h3>Franklin</h3>
                      <ul>
                        <li>Phone: 931-420-6969</li>
                        <li>Email: yourmom@gmail.com</li>
                        <li>Fax: 931-123-4567</li>
                        <li>Address: 1600 Pennsylvania Avenue NW, Washington, D.C. 20500</li>
                      </ul>
                    </div>
                  </div>
                   <br><hr style="width: 90%; border-top: 1px dotted purple; margin:20px auto"><br>
                <div class="emergency-num">

                  <!--Emergency contact info-->
                  <h3>Emergency</h3>
                    <p>If you are experiencing an emergency, please dial 911 </p>
                  <h3>Mental Health and Suicide Pervention</h3>
                    <p>If you are experienceing a mental-health crisis please dial 988</p>
                </div>
            </div>
        
    </div>

<footer>
    <p>Powered by CoinFlippers</p>
  </footer>

    </body>
</html>