<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Website Template</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
 
  <!--Top navigation bar-->
  <header class="top-nav">
    <div class="logo">CuraCloud</div>
    <div class="login-buttons">
       <a href="{{ url_for('auth.register') }}"><button class="btn">Register</button></a>
      <a href="{{ url_for('auth.login') }}"><button class="btn">Login</button></a>
    </div>
  </header>

  <div class="container">
    <!--SideMenu-->
    <div class="side-menu">
      <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('main.contact') }}">Contact Us</a></li>
        <li><a href="{{ url_for('main.about') }}">About us</a></li>
        <li><a href="{{ url_for('main.services') }}">Services</a></li>
      </ul>
    </div>

   <!--Main content of page -->
   <div class="content">
      <div class="home-img">
        <div class="home-text">
          <h1>CuraCloud: Patient Management System</h1>
          <p>Health at your fingertips</p>
        </div>
        <img src="{{ url_for('static', filename='images/person-at-computer.png') }}" alt="Person looking at a computer">
      <br><br>
      <div class="intro">
      <p >CuraCloud is a patient portal management system designed to enhance communication between patients and medical professionals while promoting better outcomes for patients’ health. 
        It offers features that allow patients to easily access their appointments, medical records, and lab results, as well as communicate directly with their healthcare provider. 
        For medical professionals, CuraCloud provides an efficient system to manage their patients and their information, lab results, and organize appointments, all in one secure and user-friendly system. </p>
      
        </div>
        </div>


      
      <div class="features">
        <!--Appointment scheduling-->
        <div class="feature">
            <img src="{{ url_for('static', filename='images/schedule.png') }}" alt="Calendar icon">
            <p>View and manage appointments with ease.</p>
        </div>
        <!--Billing Information-->
        <div class="feature">
          <img src="{{ url_for('static', filename='images/open.png') }}" alt="billing statement icon"/>
          <p>Review current and past billing statements.</p>
        </div>
        <!--Prescription information-->
        <div class="feature">
          <img src="{{ url_for('static', filename='images/medicine.png') }}" alt="Pill bottle icon"/>
          <p>View current and past prescriptions and request refills</p>
        </div>
        <!--Lab testing-->
        <div class="feature">
          <img src="{{ url_for('static', filename='images/result.png') }}" alt="lab-icon"/>
          <p>Access lab results along with healthcare provider's notes.</p>
        </div>
        <!--Profile photo-->
        <div class="feature">
          <img src="{{ url_for('static', filename='images/woman.png') }}" alt="profile-icon"/>
          <p>Conveniently and securely access patient information.</p>
        </div>
      </div> 
    </div>
  </div>

  <footer>
    <p>Powered by CoinFlippers</p>
  </footer>
</body>
</html>