<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Website Template</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
 
  <!--Top navigation bar-->
  <header class="top-nav">
    <div class="logo">CuraCloud</div>
    <div class="login-buttons">
       <a href="{{ url_for('auth.register') }}"><button class="btn">Register</button></a>
      <a href="{{ url_for('auth.login') }}"><button class="btn">Login</button></a>
    </div>
  </header>

  <div class="container">
    <!--SideMenu-->
    <div class="side-menu">
      <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('main.contact') }}">Contact Us</a></li>
        <li><a href="{{ url_for('main.about') }}">About us</a></li>
        <li><a href="{{ url_for('main.services') }}">Services</a></li>
      </ul>
    </div>

   <!--Main content of page -->
   <div class="content">
      <div class="home-img">
        <div class="home-text">
          <h1>CuraCloud: Patient Management System</h1>
          <p>Health at your fingertips</p>
        </div>
        <img src="{{ url_for('static', filename='images/person-at-computer.png') }}" alt="Person looking at a computer">
      <br><br>
      <div class="intro">
      <p >Hello Bacon ipsum dolor amet chuck kielbasa biltong, swine drumstick sausage pork loin shankle cupim picanha jerky frankfurter. Doner meatball turducken cupim jerky ham ball tip, kielbasa buffalo leberkas drumstick pork chop. Jerky picanha ham, pork loin short loin
         pork belly turkey hamburger porchetta leberkas buffalo.
        Bacon ipsum dolor amet chuck kielbasa biltong, swine drumstick sausage pork loin shankle cupim picanha jerky frankfurter. Doner meatball turducken cupim jerky ham ball tip, kielbasa buffalo leberkas drumstick pork chop. Jerky picanha ham, pork loin short
         loin pork belly turkey hamburger porchetta leberkas buffalo.</p>
      
        </div>
        </div>


      
      <div class="features">
        <!--Appointment scheduling-->
        <div class="feature">
            <img src="{{ url_for('static', filename='images/schedule.png') }}" alt="Calendar icon">
            <p>Flank jowl shank pork chop buffalo alcatra pig, bacon filet mignon swine frankfurter brisket.</p>
        </div>
        <!--Billing Information-->
        <div class="feature">
          <img src="{{ url_for('static', filename='images/open.png') }}" alt="billing statement icon"/>
          <p>Flank jowl shank pork chop buffalo alcatra pig, bacon filet mignon swine frankfurter brisket.</p>
        </div>
        <!--Prescription information-->
        <div class="feature">
          <img src="{{ url_for('static', filename='images/medicine.png') }}" alt="Pill bottle icon"/>
          <p>Flank jowl shank pork chop buffalo alcatra pig, bacon filet mignon swine frankfurter brisket.</p>
        </div>
        <!--Lab testing-->
        <div class="feature">
          <img src="{{ url_for('static', filename='images/result.png') }}" alt="lab-icon"/>
          <p>Flank jowl shank pork chop buffalo alcatra pig, bacon filet mignon swine frankfurter brisket.</p>
        </div>
        <!--Profile photo-->
        <div class="feature">
          <img src="{{ url_for('static', filename='images/woman.png') }}" alt="profile-icon"/>
          <p>Flank jowl shank pork chop buffalo alcatra pig, bacon filet mignon swine frankfurter brisket.</p>
        </div>
      </div> 
    </div>
  </div>

  <footer>
    <p>Powered by CoinFlippers</p>
  </footer>
</body>
</html>