<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About us</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>

<!--Top navigation bar-->
  <header class="top-nav">
    <div class="logo">CuraCloud</div>
    <div class="login-buttons">
      <a href="{{ url_for('auth.register') }}"><button class="btn">Register</button></a>
      <a href="{{ url_for('auth.login') }}"><button class="btn">Login</button></a>
    </div>
  </header>

  <div class="container">
            <!--SideMenu-->
          <div class="side-menu">
            <ul>
              <li><a href="{{ url_for('main.index') }}">Home</a></li>
              <li><a href="{{ url_for('main.contact') }}">Contact Us</a></li>
              <li><a href="{{ url_for('main.about') }}">About Us</a></li>
              <li><a href="{{ url_for('main.services') }}" class="active">Services</a></li>
            </ul>
            </div>

          

        <div class="content">
            <ul>
                
            </ul>

        </div>
        
    </div>

<footer>
    <p>Powered by CoinFlippers</p>
  </footer>

    </body>
</html>