<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About us</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>

<!--Top navigation bar-->
  <header class="top-nav">
    <div class="logo">Logo Here</div>
    <div class="login-buttons">
      <a href="{{ url_for('register') }}"><button class="btn">Register</button></a>
      <a href="{{ url_for('login') }}"><button class="btn">Login</button></a>
    </div>
  </header>

  <div class="container">
            <!--SideMenu-->
        <div class="side-menu">
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
          <li><a href="{{ url_for('about') }}">About us</a></li>
          <li><a href="{{ url_for('services') }}">Services</a></li>
        </ul>
        </div>

        <!--Content of website-->
          <div class="content">

               <div id="about-header">
                   <h1>About us</h1>
              </div>

              <!--Image and description-->
              <div class="about-img">
                <!--About paragraph-->
                  <img id="dr-mike" src="{{ url_for('static', filename='images/dr-mike.png') }}" alt="Doctor Mike" />
                 <h3>Why you should choose insert name here</h3>
                  <p id="about-paragraph">Bacon ipsum dolor amet chuck kielbasa biltong, swine drumstick sausage pork loin shankle cupim picanha jerky frankfurter. Doner meatball turducken cupim jerky ham ball tip, kielbasa buffalo leberkas drumstick pork chop. Jerky picanha ham, pork loin short loin
              pork belly turkey hamburger porchetta leberkas buffalo.
              Bacon ipsum dolor amet chuck kielbasa biltong, swine drumstick sausage pork loin shankle cupim picanha jerky frankfurter. Doner meatball turducken cupim jerky ham ball tip, kielbasa buffalo leberkas drumstick pork chop. Jerky picanha ham, pork loin short
              loin pork belly turkey hamburger porchetta leberkas buffalo.</p>
              </div>
              <hr style="width: 75%; margin: 30px auto; border-top: 1px dotted purple" >

              <!--Why they should work with us-->
              <h3 id="benefit-title">Benefits of using a healthcare portal</h3>
              <div class="benefits">
                    <div class="benefit">
                      <img class="benefit-icon" src="{{ url_for('static', filename='images/chemical.png') }}" alt="Lab icon"/>
                        <h3>chuck kielbasa biltong</h3>
                        <P>Bacon ipsum dolor amet chuck kielbasa biltong, swine drumstick sausage pork loin shankle cupim picanha</P>
                    </div>
                    <div class="benefit">
                      <img class="benefit-icon" src="{{ url_for('static', filename='images/cardiogram.png') }}" alt="Lab icon"/>
                        <h3>chuck kielbasa biltong</h3>
                        <P>Bacon ipsum dolor amet chuck kielbasa biltong, swine drumstick sausage pork loin shankle cupim picanha</P>
                    </div>
                    <div class="benefit">
                      <img class="benefit-icon" src="{{ url_for('static', filename='images/muscle.png') }}" alt="Lab icon"/>
                      <h3>chuck kielbasa biltong</h3>
                      <P>Bacon ipsum dolor amet chuck kielbasa biltong, swine drumstick sausage pork loin shankle cupim picanha</P>
                    </div>
                    <div class="benefit">
                      <img class="benefit-icon" src="{{ url_for('static', filename='images/convenience.png') }}" alt="Lab icon"/>
                      <h3>chuck kielbasa biltong</h3>
                      <P>Bacon ipsum dolor amet chuck kielbasa biltong, swine drumstick sausage pork loin shankle cupim picanha</P>
                    </div>
              </div>
          </div>
    </div>

<footer>
    <p>Powered by CoinFlippers</p>
  </footer>

    </body>
</html>