<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='login_styles.css') }}">
</head>
<body>


  <!-- Navbar -->
  <header class="navbar{% if role %} navbar-{{ role }}{% endif %}">
    <div class="logo">Logo Here</div>
    <div class="nav-buttons">
      <a  href="{{ url_for('auth.register') }}"><button class="login-btn">Register</button></a>
      <a  href="{{ url_for('auth.login') }}"><button class="login-btn">Login</button></a>
    </div>
  </header>

  <div class="container">
        <!-- Sidebar -->
        <div class="side-menu">
            <ul>
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
            <li><a href="{{ url_for('main.contact') }}">Contact Us</a></li>
            <li><a href="{{ url_for('main.about') }}">About us</a></li>
            <li><a href="{{ url_for('main.services') }}">Services</a></li>
            </ul>
        </div>

        <!-- Login Content -->
        <div class="content">
            <!--Role buttons-->
            <div class="login-page">
                    <div class="role-buttons">
                        <a class="role-btn" href="{{ url_for('auth.login', role='admin') }}">Admin</a>
                        <a class="role-btn" href="{{ url_for('auth.login', role='doctor') }}">Doctor</a>
                        <a class="role-btn" href="{{ url_for('auth.login', role='patient') }}">Patient</a>
                    </div>

            <!--Admin Login Page-->
            {% if role == "admin" %}
                <h2 id="admin-header">Admin Login</h2>
                 <img id="admin-profile-icon" src="{{ url_for('static', filename='images/red-profile.png') }}" alt="admin profile icon">
                
                    <form class="admin-login-content" method="post">

                        <input type="hidden" name="role" value="admin">
                        <label>Admin ID:</label>
                            <input type="text" name="username" placeholder="Please enter your username" required>
                        <label>Password</label>
                            <input type="password" name="password" placeholder="Please enter your password" required>
                        <button class="sub-btn" type="submit">Submit</button>
                    </form> 
                    
            <!--Doctor Login Page-->
            {% elif role == "doctor" %}
                <h2 id="doctor-login-header">Doctor Login</h2>
                 <img id="admin-profile-icon" src="{{ url_for('static', filename='images/blue-profile.png') }}" alt="doctor profile icon">
                    <form class="doctor-login-content" method="post">
                        <input type="hidden" name="role" value="doctor">
                        <label>Doctor ID</label>
                            <input type="text" name="username" placeholder="Please enter your username" required>
                        <label>Password</label>
                            <input type="password" name="password" placeholder="Please enter your password" required>
                        <button class="sub-btn" type="submit">Submit</button>
                    </form>
                
            <!--Patient Login Page-->
            {%elif role == "patient" %}
                <h2 id="patient-login-header">Patient Login</h2>
                <img id="admin-profile-icon" src="{{ url_for('static', filename='images/green-profile.png') }}" alt="patient profile icon">
                <form class="patient-login-content" method="post">
                    <input type="hidden" name="role" value="patient">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Please enter your username" required>
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Please enter your password" required>
                    <button class="sub-btn" type="submit">Submit</button>
                </form>
            {% endif %}