<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='patient_styles.css') }}">
        <title>Patient Portal - Side by Side Layout</title>
    </head>
    
        <style>
            .dashboard-container{
                display:flex;
                gap:25px;
                margin-top:20px;
                margin-left:30px
            }

            .dashboard-vertical{
                flex:3;
                display:flex;
                flex-direction: column;
                gap: 20px;
            }

            .quick-actions {
                flex:1;
                display:flex;
                flex-direction: column;
                gap:20px;
            }
        </style>
    <body>
    <header class="navbar">
        <div class="logo">CuraCloud</div>
        <div class="nav-buttons">
            <div class="right-header">
                <div class="profile-icon"> 
                    <img id="admin-profile-icon" src="{{ url_for('static', filename='images/woman-patient.png') }}" alt="admin profile icon">
                </div>
                    <a href="{{ url_for('auth.login') }}">
                        <button class="logout-btn">Logout</button>
                    </a>
                </div>
                
            </div>
        </div>
    </header>

    <div class="container">
         <div class="side-menu">
            <ul>
                <li><a href="{{ url_for('patient.patient_home') }}" class="active">Home</a></li>
                <li><a href="{{ url_for('patient.appointments') }}">Appointments</a></li>
                <li><a href="{{ url_for('patient.prescriptions') }}">Prescriptions</a></li>
                <li><a href="{{ url_for('patient.billing') }}">Billing & Payments</a></li>
                <li><a href="{{ url_for('patient.lab_results') }}">Lab Results</a></li>
                <li><a href="{{ url_for('patient.messages') }}">Messages</a></li>
                <li><a href="{{ url_for('patient.patient_info') }}">My Health</a></li>
            </ul>
        </div>

        <div class="content">
            <div class="welcome-section-patient">
                <div class="welcome-message">Prescriptions</div>
                <div class="welcome-subtitle">Manage your Prescriptions and Refills</div>
            </div>

            <div class="dashboard-container">
                <div class="dashboard-vertical">
                    <div class="dashboard-card">
                        <div class="card-header">
                            <div class="card-icon-patient"> 💊 </div><h3>Current Medication</h3></div>
                        <div class="card-content">
                            <p class="card-text">You have no medications on file</p>

                            <div class="card-action">
                                <button class="glow-btn">View Details</button>
                            </div>
                        </div>
                    </div>

                    <div class="dashboard-card">
                        <div class="card-header">
                            <div class="card-icon-patient">🩺</div><h3> Request a Refill</h3>
                        </div>
                            <div class="card-content">
                                <p class="card-text">Choose Prescription</p>
                                <div class="card-action">
                                    <button class="glow-btn">View Details</button>
                                </div>
                            </div>
                    </div>

                    
                </div>

                    <div class="quick-actions">
                    <div class="action-card">
                        <div class="action-icon">📅</div>
                        <div>Refill Prescription </div>
                    </div>
                 
                    <div class="action-card">
                        <div class="action-icon">💬</div>
                        <div>Contact Office</div>
                    </div>
                </div>
            </div>

            <br><br> <hr>
            <div class="warning-content">

            <h1 class="attention-header">ATTENTION!</h1>
            <div class="warning-header">
                    <h2>Prescription drug recyling</h2>
                        <p>If you have unused or expired medications please contact your medical office or pharmacy
                            for information about disposal</p>
                        </p>
                </div>
                <div class="warning-header">
                    <h2>Issues with substance abuse?</h2>
                        <p>If you or someone you know struggle with substance abuse dont hesitate to get help. Please  
                            contact. GET SOME HELP
                        </p>
                </div>
            </div>
            
        </div>

        
    </div>
    
    <div class="footer">
        <div>© Powered by Coin Flippers</div>
    </div>
    </body>
</html>